<%- include header %>
<form method="post" >
    Title: <br />
    <input type="text" name="title" value="<%= post.title %>" /><br />
    Content: <br />
    <textarea name="post" rows="20" cols="100"><%= post.post %></textarea><br />
    <input type="submit" value="save" />
    <a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
    <input type="button" value="cancel" name="cancel">
    </a>
</form>
<%- include footer%>