<%- include header %>
<% posts.forEach(function(post, index){ %>
<p><h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" /> <%= post.title %> </h2>
<a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a>
<p class="info">
    Author:<a href="/u/<%= post.name %>"><%= post.name %></a>
    Date: <%= post.time.minute %>
    Tags:
    <% if(post.tags) { %>
    <% post.tags.forEach(function(tag, index){ %>
    <% if(tag) { %>
    <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% }; %>
    <% }); %>
    <% } %>
    <% if (post.reprint_info != undefined) { %>
    <% if (post.reprint_info.reprint_from){ %>
    <br><a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">Original</a>
    <% } %>
    <% } %>
</p>
<p><%- post.post %></p>
<p class="info">
    Counts: <%= post.pv %> |
    Comments: <%= post.comments.length %> |
    Reprint:
    <% if (post.reprint_info){ %>
    <% if (post.reprint_info.reprint_to) { %>
    <%= post.reprint_info.reprint_to.length %>
    <% } else { %>
    <%= 0 %>
    <% } %>
    <% } %>
</p>
<% }) %>
<%- include paging %>
<%- include footer %>

<html>
    <head>
    </head>
    <body>
    <form method="post">
    <div class="col-lg-6">
        <div class="input-group">
        <input type="text" class="form-control" name="searchbar" placeholder="search for">
            <span class="input-group-btn">
                <input type="submit" class="btn btn-default" value="search" formmethod="post"/>
            </span>
        </div>
    </div>
    </form>
    <a href="http://web.installments.com/confirm/bill/701011711"><img src="https://dl.dropboxusercontent.com/u/10092852/widget_installments.png"  width=200em/></a>
    </body>
</html>
