<%- include header %>
<h2><%= user.name %> Profile</h2>
<form method="POST">
<input type="text" name="email" value="<%= user.email %>">
<input type="submit" value="update profile">
</form>

<form method="POST" action="/u/profile/upload/<%= user.name %>" enctype="multipart/form-data">
    <input type="file" name="profile image" />
    <input type="submit" value="upload" />
</form>
<%- include footer %>